[submodule "imgnx_modules/node"]
path = imgnx_modules/node
url = https://github.com/imgnx/imgnx.js

[submodule "imgnx_modules/pwsh"]
path = imgnx_modules/pwsh
url = https://github.com/imgnx/imgnx.ps1

[submodule "imgnx_modules/sh"]
path = imgnx_modules/sh
url = https://github.com/imgnx/imgnx.sh
[submodule "imgnx_modules/js"]
	path = imgnx_modules/js
	url = https://github.com/imgnx/imgnx.js
