[submodule "imgnx_modules/node/0Print/modules/import-local"]
path = modules/0Print/modules/import-local
url = /Users/donaldmoore/iCloud/Workbench/public/modules/0Print/modules/import-local

[submodule "imgnx_modules/node"]
path = imgnx_modules/node
url = https://github.com/imgnx/imgnx.js

[submodule "imgnx_modules/pwsh"]
path = imgnx_modules/node
url = https://github.com/imgnx/imgnx.ps1

[submodule "imgnx_modules/sh"]
path = imgnx_modules/node
url = https://github.com/imgnx/imgnx.sh
