/* @tailwind base; */

.mb-10 {
  margin-bottom: 2.5rem
}

.flex {
  display: flex
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0
  }
}

.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite
}

.border-0 {
  border-width: 0px
}

.\!border-0 {
  border-width: 0px !important
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.\!text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}
